<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<h1>Apartments</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Rent</th>
    <th>Pets</th>
    <th>Link</th>
    <th>Map</th>
  </tr>

<% @apartments.each do |apartment| %>
  <tr>
    <td>
    	<%= apartment.id %>
    </td>
    <td>
    	<%= apartment.address %>
  	</td>
  	<td class='money'>
      $<%= apartment.rent_per_month %>.00
    </td>
    <td>
      <% if apartment.does_allow_pets == nil %>
      ?
      <% elsif apartment.does_allow_pets == true %>
      Yes
      <% else %>
      No
      <% end %>
    </td>
    <td>
      <a href a"<%= apartment.url %>"><%= apartment.url %></a>
    </td>
    <td>
      <%= apartment.id %>
    </td>  
  </tr>
  <% end %>
</table>


