<table border="1">
  <tr>
    <th>Name</th>
    <% @exercises.each do |exercise| %>
    <th>Grade for <%= exercise.directory %></th>
      <% end %>
    </tr>
    <tr>
      <% @students.each do |student| %>
      <th><%= student.first_name %> <%= student.last_name %></th>
      <% @exercises.each do |exercise| %>
      <td>(<%= student.first_name %>'s grade for <%= exercise.directory %>)</td>
      <% end %>
    </tr>
  <% end %>
</table> -->




<!-- <table border="1">
  <tr>
    <th>Name</th>
    <th>Grade for 1-exercise.directory</th>
    <th>Grade for 2-exercise.directory</th>
  </tr>
  <tr>
    <th>1-student.first_name student.last.name</th>
    <td>1-student.first_name's grade for 1-exercise.directory</td>
    <td>1-student.first_name's grade for 2-exercise.directory</td>
  </tr>
  <tr>
    <th>2-student.first_name student.last.name</th>
    <td>2-student.first_name's grade for 1-exercise.directory</td>
    <td>2-student.first_name's grade for 2-exercise.directory</td>
  </tr>
    <tr>
    <th>3-student.first_name student.last.name</th>
    <td>3-student.first_name's grade for 1-exercise.directory</td>
    <td>3-student.first_name's grade for 2-exercise.directory</td>
  </tr>
</table> -->


<!-- <p>Example of a table with a row of headers</p>

<table border="1">
  <tr>
    <th>A</th>
    <th>B</th>
  </tr>
  <tr>
    <td>A1</td>
    <td>A2</td>
  </tr>
  <tr>
    <td>A1</td>
    <td>A2</td>
  </tr>
</table>