<nav class='navbar navbar-static-top' role='navigation'>
  <div style='position: absolute; top: 11px'>
    <%= render "shared/logo" %>
  </div>

  <ul class='nav nav-tabs'>
    <%= render partial: "shared/navbar_tab", locals: { x: "users" } %>
    <li class='pull-right <%= if params[:action] == "form2" then "active" end %>'>
      <a href='/form2'>Form 2</a>
    </li>
    <li class='pull-right <%= if params[:action] == "form1" then "active" end %>'>
      <a href='/form1'>Form 1</a>
    </li>
    <li class='pull-right <%= if params[:action] == "calendar" then "active" end %>'>
      <a href='/calendar'>Calendar</a>
    </li>
    <li class='pull-right <%= if params[:action] == "symbols" then "active" end %>'>
      <a href='/symbols'>Symbols</a>
    </li>
  </ul>
</nav>