<p>
  Welcome, <%= @member.username %>
  <%== submit_tag "Logout" %>
</p>

<h2>My current reservations</h2>

<% @reserved_cars.each do |reserved_car| %>
  Car number <%= reserved_car.id %><br>
  Color: black <br>
  Model: VW Jetta <br>
  <%== submit_tag "Return car 2" %> <br>
  <br>
<% end %>

<h2>List of available cars</h2>
<table border="1">
  <tr>
    <th>Number</th>
    <th>Color</th>
    <th>Model</th>
    <th>Available?</th>
    <th>Reserve</th>
  </tr>
  <tr>
     <% Car.order("id").all.each do |car| %>
       <td><%= car.id %></td>
       <td><%= car.color %></td>
       <td><%= car.model %></td>
       <td>
          <% if car.reserving_member_id == nil %>Yes
          <% else %>No
          <% end %>
       </td>
       <td>
          <% if car.reserving_member_id == nil %>
                <%== submit_tag "Reserve car #{car.id}" %>
          <% else %>
          <% end %>      
       </td>
    </tr>
    <% end %>
</table>

