<h1>Search for vehicles of a specific color by selecting a tile below:</h1>
<table>
  <tr>
  	<% @colors.each do |color| %>
    <td style="background-color:<%= color.html_color_code %>">
      <a href="/1/1">
        <img src="/images/bike.png">
      </a>
    </td>
    <% end %>
  </tr>
</table>


<!-- <table>
  <tr>
    <th></th>
    <% @colors.each do |color| %>
      <th><%= color.name %></th>
    <% end %>
  </tr>
  <% @vehicles.each do |vehicle| %>
    <tr>
      <th><%= vehicle.name %></td>
      <% @colors.each do |color| %>
        <td style="background-color:<%= color.html_color_code %>">
          <a href="/<%= color.id %>/<%= vehicle.id %>">
            <img src="/images/<%= vehicle.image_filename %>">
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table> -->
